@font-face {
    font-family:'Montserrat Black';
    src: url('../assets/fonts/Montserrat\ Black.woff2') format('woff2'),
		url('../assets/fonts/Montserrat\ Black.woff2') format('woff');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family:'Montserrat';
    src: url('../assets/fonts/Montserrat\ Regular.woff2') format('woff2'),
		url('../assets/fonts/Montserrat\ Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

:root {

    --color-01: #d90000;
    --color-01-transparent: #ff0000ca;
    --color-02: #00ab30;
    --color-03: #FFF;
}

.hide {
    display: none;
}

body {
    border: #FFF dotted 1rem;
}

/* SPLASH */

.splash {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background-color: var(--color-01);
    
    font-size: 1.2rem;
    color: var(--color-03);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.splash--hide {
    display: none;
}

/* FILTER PAGE */

.filters {
    height: 100vh;
    width: 100vw;
    z-index: 1;

    position: absolute;
    left: 0;
    bottom: 0;
}

.scene {
    height: 10rem;
    width: 10rem;
}

.filters--hide {
    display: none;
}

.hide-filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filters-box {
    background-color: var(--color-01-transparent);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    height: fit-content;
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;

    position: absolute;
    bottom: 0;

    border-radius: 2rem 2rem 0rem 0rem;

    animation: ease-in-out;
}

.filters-box--hide{
    display: none;
}

.icon {
    height: 1.5rem;
}

.show-filters {
    padding: .5rem;
    border-radius: 10rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0.9rem;
}

video {
    height: 100vh;
    width: 100vw;
}

/* BUTTONS */
.btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.btn {
    font-family: 'Montserrat Black';
    font-size: 1rem;
    color: var(--color-03);
    width: fit-content;

    border: none;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    background-color: var(--color-02);
    border: var(--color-03) solid 0.2rem;
}

.btn--filter {
    width: 10rem;
    background-color: var(--color-01-transparent);
}

.btn--selected { 
    background-color: var(--color-02);
}

.btn--start {
    text-transform: uppercase;
    font-size: 2rem;
    border-radius: 10rem;
    padding: 1rem 2rem;
    border: var(--color-03) solid 0.4rem;
}

.btn--up {
    background-color: var(--color-01-transparent);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    padding: 1rem;
}

.btn--down {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 0.8rem;
}

.btn--hide {
    display: none;
}

a-scene {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
